*{
    list-style: none;
}
a {
    color:initial ;
    text-decoration: none;
}
a:visited {
    color:initial ;
    text-decoration: none;
}
a:hover {
    color:initial ;
    text-decoration: none;
}
a:active {
    color:initial ;
    text-decoration: none;
}

header{
    background-color: #2d3443;
    width: 100%;
    padding: 1px;
}
.header-font a{
    font-family: 'Libre Barcode 39 Text', cursive;
    color: white;
    margin: 3% 0 2.5% 7%;
}
.squared-content-home{
    display: inline-block;
    margin:20px;
}
.title-product-link{
    color: white;
}